@font-face {
    font-family: Inter;
    src: local(Inter), url(/fonte/Inter/Inter-VariableFont_opsz\,wght.ttf);
}
*{
    font-family: Inter;
    
}
a{
    text-decoration: none;
}

body{
    background-image: url(GIF\ -\ Background/harpy.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
    overflow:hidden;
    
}
@media (orientation:portrait) {
    body {
        background-size:cover;
        height:100vh;
        background-position: center;
        overflow:hidden;
    }
}
.pfpAnon{
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 135px;
    margin-top:5%;
}

.cadastro{
    background: rgb(255,228,78);
    background: linear-gradient(90deg, rgba(255,228,78,1) 0%, rgba(255,138,210,1) 100%);
    border-radius: 5px;
    width:130px;
    height:40px;
    text-align: center;
    display: flex;      
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:#D20532;
    right: 13%;
    position:absolute;
    top:3%;
    border: 0.5px solid #b80019;
    box-sizing: border-box;
    
}
.login{
    background: linear-gradient(269.85deg, #90f9ff, #eb92ff);
    border-radius: 5px;
    width:130px;
    height:40px;
    text-align: center;
    display: flex;      
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #450f8c;
    right: 3%;
    position:absolute;
    top:3%;
    border: 0.5px solid #3982ef;
    box-sizing: border-box;

}
.logotop{
    height:75px;
}
.nomeuser{
    font-weight:bold;
    font-size:23px;
    border-bottom: 5px solid #28054d;
    color: #28054d;
    width:250px;
    display:flex;
    justify-content: center;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0; /* Reset padding */
    line-height: 1;
    
    

}
.fundobranco{
    background-color: rgb(250, 255, 255);
    width:400px;
    position:relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    top:2.5%;
    box-shadow: 0px 4px 4px 0px rgba(140, 74, 255, 0.25);
    padding-bottom:20px;

}
.btnsala{
    background: linear-gradient(90deg, #ffd1b8, #ff7ab6);
    border: 0.5px solid #d00161;
    color:#b4004f;
    

}
.btn{
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 23px;
    font-weight:bold;
    width:270px;
    display:flex;
    justify-content: center;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    margin-top:7%;
    position:relative;
    height:50px;
    align-items:center;
    transition: all 0.3s ease;

}
.codsala input {
    text-align: center; 
    width: 270px;
    height: 50px;       
    border: none;              
    font-size: 23px;     
    font-weight: bold;
    color:#950396; 
    background: linear-gradient(90deg, #ba7aff, #ff88a2);
    border: 0.5px solid #46003f;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 5%;
    box-sizing: border-box;
    cursor: pointer;

}
.codsala input::placeholder{
    color:#791079;
    text-transform: none;
}
input:focus{
    outline: none;
}
.btnsala:hover {
    color: white; /* Cor do texto ao passar o mouse */
    width:280px;
    height:55px;
    align-items:center;
    display:flex;
    justify-content: center;
    text-align:center;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #ffb68f, #ff59a4);

}
.codsala input:hover{
    color: white;
    background: linear-gradient(90deg, #9a65d3, #ff4f75);
    width: 280px;
    height: 55px; 
    
}

.codsala input:hover::placeholder {
    color: white;
}

.codsala input:hover::placeholder{
    color:white;
    font-size: 23px;
    
}
.cadastro:hover {
    background: linear-gradient(270deg, #F99129 0.16%, #FB38B0 103.06%);
    height: 45px;
    width: 135px;
    color: #fff;
    gap: 24px;
}

.login:hover {
    background: linear-gradient(270deg, #08C3CD 0.16%, #D63EF8 103.06%);
    height: 45px;
    width: 135px;
    color: #fff;
    gap: 24px;
}
#popupAviso{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(231, 193, 255, 0.5);
    display: none;
    z-index: 1000;
}
.overlay{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    justify-items:left;
    text-align: left;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    width:450px;
    height: 225px;
    top:40%;
    box-shadow: 0px 4px 4px 0px rgba(140, 74, 255, 0.25);
    overflow: hidden;
    border-radius: 10px;

}
.vermelho {
    width: 450px;
    position: relative;
    border-radius: 5px 5px 0px 0px;
    background-color: #ff8686;
    height: 50px;
    padding: 5px;
    display: flex;           /* Alinha os itens em linha */
    align-items: center;     /* Centraliza verticalmente */
}

.triangle {
    width: 35px;
    margin-right: 10px;
    margin-left: 10px;      
}

.aviso {
    margin: 0;               
    font-size: 24px;        
    color: #000000;  
}
.msg{
    margin: 15px;
    text-align: justify;
    font-weight: bold;

}
#ok{
    background-color: #FF8686;
}

#voltar{
    background-color: #9BCCD0;
}
#botoes {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left:180px;
    
}
#voltar, #ok{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    
}
#ok:hover, #voltar:hover{
    
    width:110px;
    height:45px;
}

#ok:hover{
    
    background-color: #f81f43;
    color:white;

}
#voltar:hover{
    color:white;
    background-color: #076d9c;
}
#configTela{
    display:none;
    z-index:1000;
    justify-items:center;
    align-items: center;
    height: 100vh;
    width: 100vh;
    gap:20px;
}
#configs{
    position: absolute; /* Ou 'fixed', se preferir fixar na tela */
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1010;
    width:550px;
    height:400px;
    padding: 35px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px 0px rgba(140, 74, 255, 0.25);
    border-radius: 14px;
    border: 1px solid #380C59;
    font-weight: bold;
}
#canvas{
    margin-right: 25px;
    left: 20px;
    width:250px;
    height:340px;
    align-items: justify;
}
#canvasconfig{
    top:10%;
}
#tamanho{
    margin-bottom: 50px;
}
#labelaltura{
    margin-right: 17px;
}
#editmembros{
    width:250px;
    border-left: 0.5px solid #46003f;
    padding-left: 20px;
    height:340px;
}
#membros{
    width: 50px;
}
#cor{
    appearance: none;
    width: 150px;
    height: 100px;
    border: none;
    
    background: none;
}
#cor::-webkit-color-swatch {
    border: none; /* Remove bordas padrão */
    border-radius: 20px; /* Aplica o border-radius no círculo interno */
}
label{
    margin-right:3px;
}
#criar{
    width:75px;
    border-radius: 5px;
    border: 0.5px solid #D00161;
    background: linear-gradient(90deg, #FFD1B8 0%, #FF7AB6 100%);
    box-sizing: border-box;
    font-size: 16px;
    font-weight:bold;
    display:flex;
    justify-content: center;
    text-align:center;
    left: 70%;
    transform: translateX(-50%);
    margin-top:27%;
    position:relative;
    height:30px;
    align-items:center;
    transition: all 0.3s ease;
    color:#b4004f;

}

#criar:hover {
    color: white; /* Cor do texto ao passar o mouse */
    width:85px;
    height:40px;
    background: linear-gradient(90deg, #ffb68f, #ff59a4);
}

#altura1{
    margin-top: 10px;
}
#altura, #largura, #fpsinput, #membros{
    background-color: #ecdbff;
    border-radius: 5px;
    border:none;
    margin-right: 3px;
}


@media (min-width:560px) and (max-width:200px) and (min-height:600px){
    .pfpAnon {
        height: 235px;
        margin-top: 25%;
        }
    .logotop{
        margin-top:3%;
    }
    
    .logotop{
        width:105px;
        height:auto;
    }
    .cadastro{
        right:22%;
    }

    .overlay {
        width: 40vh;
        height: 30vh;
        font-size: 24px;
   }

   .vermelho {
        width: 40vh;
   }

   #botoes {
        margin-right: 28%;
   }

   #configs {
    width: 44vh;
    padding: 3%;
    font-size: 15px;
}

}
@media (max-width:768px){

    .pfpAnon {
        height: 150px;
        margin-top: 40%;
        }
    .logotop{
        margin-top:5%;
    }
    .logotop{
        width:70px;
        height:auto;
    }
    .cadastro{
        right: 30%;
        font-size: 12px;
        width: 90px;
        height: auto;
    }
    .login{
        right:4%;
        font-size: 12px;
        width: 90px;
        height: auto;
        margin-left: 5%;
    }
   .fundobranco{
        width:310px;
   }

   .overlay {
        width: 40vh;
        height: 30vh;
        font-size: 15px;
   }

   .vermelho {
        width: 40vh;
   }

   #botoes {
        margin-right: 28%;
   }

   #configs {
        width: 95vw;
        max-width: 400px;
        padding: 3%;
        font-size: 15px;  
        height: auto; 
    }

    #cor::-webkit-color-swatch {
        border: none; 
        border-radius: 20px; 
        height: 60%;
    }    

}



