@font-face {
    font-family: Inter;
    src: local(Inter), url(/fonte/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

h1 {
    font-family: Inter;
}

body {
    background-image: url(GIF\ -\ Background/ana.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
}

.topo img {
    height: 130px;
    width: 130px;
    object-fit: contain;
    margin-top: 4vh;
}

h1 {
    color: #B08DF4;
    font-size: 40px;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 210px;
    height: 320px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(140, 74, 255, 0.25);
    padding: 2%  2% 2% 2%; 
}

.primeirobtn, .segundobtn, .terceirobtn {
    width: 100%;
    height: 4vh;
    font-family: Inter; 
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 0;
    text-decoration: none;
}

.primeirobtn {
    background: linear-gradient(270deg, #FFE44E 0.16%, #FF8AD2 103.06%);
    border: 0.5px solid #B80019;
    color: #D20532;
}

.segundobtn {
    background: linear-gradient(270deg, #90F9FF 0.16%, #EB92FF 103.06%);
    border: 0.5px solid #3982EF;
    color: #450F8C;
}

.terceirobtn {
    background: #90C0FF;
    border: 0.5px solid #3982EF;
    color: #25126A;

}

.loguinho img {
    height: 35px;
}


@media (max-width: 768px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }

    .jumbotron {
        margin-top: 7%;
        height: 55vh;
        width: 70%;
        gap: 20px;
        padding: 2% 2%;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 10%;
        width: 80%;
    }

    .topo img {
        height: 75px;
    }

}

@media (min-width:560px) and (max-width:1100px) and (min-height:600px){
    body {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .jumbotron {
        height: 500px;
        width: 50%;
        margin-top: 4%;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 70px;
        width: 90%;
        font-size: 23px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 85px;
        width: 100%;
    }
    
    .loguinho {
        margin-top: 100px;
    }

    .topo img {
        height: 120px;
    }

}


@media (min-width: 1101px) and (max-width: 4000px){
    body {
        height: 100vh;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    .jumbotron {
        height: auto;
        width: 30%;
        margin-top: 4%;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 7vh;
        width: 100%;
        font-size: 17px;
    }
}

.primeirobtn:hover {
    background: linear-gradient(270deg, #F99129 0.16%, #FB38B0 103.06%);
    height: 6vh;
    width: 90%;
    color: #fff;
    gap: 24px;
}

.segundobtn:hover {
    background: linear-gradient(270deg, #08C3CD 0.16%, #D63EF8 103.06%);
    height: 6vh;
    width: 90%;
    color: #fff;
    gap: 24px;
}

.terceirobtn:hover {
    background: linear-gradient(90deg, #2C79BD 0%, #B4F5FF 100%);
    height: 6vh;
    width: 90%;
    color: #fff;
    gap: 24px;
}

@media (min-height:400px) and (max-height:950px) {
    .jumbotron {
        height: 470px;
    }
    .primeirobtn, .segundobtn, .terceirobtn {
        height: 60px;
        margin-top: 10px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 80px;
    }
}

@media (min-width:300px) and (max-width:376px) {
    .nome h1 {
        font-size: 32px;
    }

    .jumbotron {
        height: 360px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 35px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 38px;
    }
}

@media (min-width:540px) {

    .jumbotron {
        width: 70%;
        height: 290px;
    }

    .loguinho img {
        height: 35px;
        margin-bottom: opx;
    }

    .topo img {
        height: 50px;
    }

    .nome h1 {
        font-size: 20px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 25px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 30px;
    }
}

@media (min-height:1000px) {
    .jumbotron {
        height: 590px;
        width: 450px;
    }

    .topo img {
        height: 70px;
    }
    
    .nome h1 {
        font-size: 40px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 110px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 130px;
    }
}

@media (min-width:800px) and (min-height:1300px) {
    .jumbotron {
        height: 1000px;
        width: 800px;
    }

    .nome h1 {
        font-size: 80px;
    }

    .topo img {
        height: 100px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        font-size: 40px;
        height: 200px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 250px;
    }

    .loguinho img {
        height: 50px;
    }
}

@media (min-height:1310px) {
    .jumbotron {
        height: 800px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 140px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 160px;
    }
}

@media (min-width: 1000px) and (max-width:1023px) {

    .jumbotron {
        height: 270px;
        width: 50%;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 27px;
        margin: 0px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 30px;
    }

}

@media (max-width: 1024px) and (max-height: 600px) {
    .jumbotron {
        height: 220px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 12px;
        margin: 0px;
        font-size: 15px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 15px;
        width: 93%;
    }

    .topo img {
        height: 30px;
    }

    .loguinho img {
        height: 15px;
    }

}
