@font-face {
    font-family: Inter;
    src: local(Inter), url(/fonte/Inter/Inter-VariableFont_opsz,wght.ttf);
}

h1 {
    font-family: Inter;
    color: #B08DF4;
    font-size: 50px;
    font-style: normal;
    font-weight: 1000;
    line-height: normal;
    letter-spacing: 0.9px;
    margin-bottom: 50px;
}

body {
    background-image: url(GIF\ -\ Background/ana.gif);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: relative;
}

.topo img {
    height: 100px;
    width: 110px;
    object-fit: contain;
    margin-top: 4vh;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2px;
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background: #FEFEFF;
    box-shadow: 0px 4px 8px 5px rgba(71, 157, 228, 0.25);  
    margin-top: 50px;  
}

.primeirobtn, .segundobtn, .terceirobtn {
    width: 400px;
    height: 50px;
    font-family: Inter; 
    font-size: 25px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px 10px;
    text-decoration: none;
    margin-top: 10px;
    cursor: pointer;

}

.primeirobtn {
    background: linear-gradient(270deg, #FFE44E 0.16%, #FF8AD2 103.06%);
    border: 0.5px solid #B80019;
    color: #D20532;
}

.segundobtn {
    background: linear-gradient(270deg, #90F9FF 0.16%, #EB92FF 103.06%);
    border: 0.5px solid #3982EF;
    color: #450F8C;
}

.terceirobtn {
    background: #90C0FF;
    border: 0.5px solid #3982EF;
    color: #25126A;

}

.loguinho img {
    height: 35px;
}

.primeirobtn:hover {
    background: linear-gradient(270deg, #F99129 0.16%, #FB38B0 103.06%);
    height: 60px;
    width: 420px;
    color: #fff;
    gap: 24px;
}

.segundobtn:hover {
    background: linear-gradient(270deg, #08C3CD 0.16%, #D63EF8 103.06%);
    height: 60px;
    width: 420px;
    color: #fff;
    gap: 24px;
}

.terceirobtn:hover {
    background: linear-gradient(90deg, #2C79BD 0%, #B4F5FF 100%);
    height: 60px;
    width: 420px;
    color: #fff;
    gap: 24px;
}

.affordance {

    margin-left: 10px;

}


@media (max-width: 768px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        min-height: 100vh;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 25px;
    }

    .jumbotron {
        margin-top: 5px;
        height: 390px;
        width: 350px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 40px;
        width: 300px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 45px;
        width: 312px;
    }

    .topo img {
        height: 75px;
    }
}

@media (min-width:560px) and (max-width:1100px) and (min-height:600px) {
    body {
        height: 100vh;
    }

    .jumbotron {
        height: 570px;
        width: 500px;
    }

    h1 {
        font-size: 60px;
        margin-bottom: 40px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 70px;
        width: 440px;
        margin-top: 15px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 80px;
        width: 460px;
    }

    .loguinho {
        margin-top: 40px;
    }

}

@media (min-width:360px) and (max-width:559px) {
    body {
        height: 100vh;
    }

    .jumbotron {
        height: 400px;
        width: 355px;
        margin-top: 5%;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 50px;
        width: 310px;
        margin-top: 10px;
        font-size: 20px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 55px;
        width: 320px;        
    }
}

@media (min-width:1024px) and (min-height: 600px) {
    body {
        height: 100vh;
    }

    .topo img {
        height: 50px;
        margin-bottom: 1px;
    }

    h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .jumbotron {
        height: 300px;
        width: 500px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 30px;
        width: 400px;
        margin-top: 10px;
        font-size: 20px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 35px;
        width: 420px;       
    }

    .loguinho img {
        height: 20px;
    }

}

@media (min-width: 1101px) and (max-width: 1900px){
    body {
        height: 100vh;
    }

    .topo img {
        height: 70px;
        margin-bottom: 1px;
    }

    h1 {
        font-size: 50px;
        margin-bottom: 30px;
    }

    .jumbotron {
        height: 420px;
        width: 500px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 50px;
        width: 400px;
        margin-top: 10px;
        font-size: 20px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 60px;
        width: 420px;       
    }

    .loguinho img {
        height: 40px;
        margin-top: 10px;
    }

}

@media (min-height: 1300px) {
    body {
        height: 100vh;
    }

    .topo img {
        height: 100px;
        margin-bottom: 1px;
    }

    h1 {
        font-size: 70px;
        margin-bottom: 40px;
    }

    .jumbotron {
        height: 600px;
        width: 700px;
    }

    .primeirobtn, .segundobtn, .terceirobtn {
        height: 70px;
        width: 550px;
        margin-top: 15px;
        font-size: 20px;
    }

    .primeirobtn:hover, .segundobtn:hover, .terceirobtn:hover {
        height: 75px;
        width: 575px;       
    }

    .loguinho img {
        height: 50px;
        margin-top: 20px;
    }

}
